@import '../../app.less';

.admin-root-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F8F8F8;
}

.sider-container {
    background-color: #F8F8F8;
    overflow-y: auto;
}

.admin-content-container {
    // .sz(5);
    // padding: @sz;
    width: 100%;
}

.logo-container {
    .sz(32);
    height: @sz;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}